<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Tea Shop</title>
        <link rel="stylesheet" th:href="@{/homepageStyles.css}">
    </head>
    <body>
        <div class="container">
            <div class="screen">
                <div class="screen_content">
                    <form class="login" method="post" th:object="${client}" th:action="@{/login}">
                        <div class="login_field">
                            <i class="login_icon_user"></i>
                            <input type="text" placeholder="Email" class="login_input" th:field="*{email}"><br>
                            <span class="validation_error" th:if="${#fields.hasErrors('email')}"
                                  th:errors="*{email}">Username Error</span>
                        </div>
                        <div class="login_field">
                            <i class="login_icon_lock"></i>
                            <input type="text" placeholder="Password" class="login_input" th:field="*{password}">
                            <span class="validation_error" th:if="${#fields.hasErrors('password')}"
                                  th:errors="*{password}">Password Error</span>
                            <p class="validation_error" th:if="${client.hasErrors}">
                                Email doesn't exist or password is incorrect</p>
                        </div>
                        <button type="submit" class="button login_submit">Log In Now</button>
                    </form>
                    <form method="get" th:action="@{/register}" class="register">
                        <input type="submit" class="button register_submit" value="Register"/>
                    </form>
                    <form method="get" th:action="@{/homepage}" class="register">
                        <input type="submit" class="button register_submit" value="Continue As Anonymous"/>
                    </form>
                </div>
                <div class="screen_background">
                    <span class="screen_background_shape shape1"></span>
                    <span class="screen_background_shape shape2"></span>
                    <span class="screen_background_shape shape3"></span>
                    <span class="screen_background_shape shape4"></span>
                </div>
            </div>
        </div>
    </body>
</html>